* {
margin: 0;
padding: 0;
font-family: Helvetica, sans-serif;
}

body {
  margin: 0 auto;
}

div#page-wrap {
  width: 100%;
}

div#header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url("images/onfieldbp.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  }
  div#header div#header-nav {
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0px 10px 20px grey;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
  }
  ul#nav-links {
    background: url("images/pnt-logo.jpg") no-repeat;
    background-color: white;
    height: 52px;
    list-style-type: none;
    padding-left: 125px;
    width: 725px;
    }
    ul#nav-links li a {
      display: block;
      float: left;
      color: #B7112E;
      font-weight: bold;
      padding: 18px 20px 15px 20px;
      text-decoration: none;
    }

div#header-text {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #F5F5F5;
  padding: 60px 0 0 15px;
  }
  div#header-text h1 {
    font-size: 36px;
    font-weight: bolder;
  }
  div#header-text h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
  }
  a#learn-more {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #B7112E;
    width: 230px;
    padding: 10px;
    margin: 0 auto;
    position: static;
    margin-bottom: 15px;
    margin-top: 5%;
  }

div#pnt-details {
  padding: 3% 5% 5% 5%;
  height: 100%;
  background-color: #F5F5F5;
  }
  div#pnt-details h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 3%;
    text-align: center;
    }
  div#pnt-details h2 {
    padding-left: 10%;
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
    }
  div#pnt-trevor {
    float: right;
    height: 115px;
    width: 115px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: 0px 10px 20px grey;
    margin: -5px 10% 5px 25px;
  }

div#alumni {
  padding: 3% 2% 5% 2%;
  height: 100%;
  background-color: white;
  text-align: center;
  }
  div#alumni h1 {
    font-size: 98px;
    font-weight: bold;
    -webkit-text-fill-color: #009688; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    margin-bottom: 5px;
  }
  div#alumni h2 {
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #009688;
  }
  div#alumni h4 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
    padding-bottom: 3%;
  }
  div#alumni div#col1 {
    height: 200px; width: 200px;
    position: relative;
    display: inline-block;
    }
    div#alumni div#bg-col1 {
      top: 0px; left: 0px;
      height: 100%; width: 100%;
      background-image: url("images/ncaalogo.jpeg");
      background-repeat: no-repeat;
      background-size: 90% 90%;
      background-position: center;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      position: absolute;
    }
    div#alumni div#col1 div#stats-col1:hover {
      top: 0px; left: 0px;
      height: 100%; width: 100%;
      background-image: url("images/ncaalogo.jpeg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      background-position: center;
    }
    div#alumni div#col1 div#stats-col1 {
      height: 100%; width: 100%;
      position: absolute;
    }
    div#alumni div#col2 {
      height: 200px; width: 350px;
      position: relative;
      display: inline-block;
      }
      div#alumni div#col2 h1 {
      color: black;
      -webkit-text-fill-color: #009688; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      }
      div#alumni div#bg-col2 {
        top: 0px; left: 0px;
        height: 100%; width: 100%;
        background-image: url("images/mlb-draft-logo.jpeg");
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: center;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        position: absolute;
      }
      div#alumni div#col2 div#stats-col2:hover {
        top: 0px; left: 0px;
        height: 100%; width: 100%;
        background-image: url("images/mlb-draft-logo.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        background-position: center;
      }
      div#alumni div#col2 div#stats-col2 {
        height: 100%; width: 100%;
        position: absolute;
    }
    div#alumni div#col3 {
      height: 200px; width: 325px;
      position: relative;
      display: inline-block;
      }
      div#alumni div#col3 h1 {
      color: black;
      -webkit-text-fill-color: #009688; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      }
      div#alumni div#bg-col3 {
        top: 0px; left: 0px;
        height: 100%; width: 100%;
        background-image: url("images/mlb-logo.jpeg");
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: center;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        position: absolute;
      }
      div#alumni div#col3 div#stats-col3:hover {
        top: 0px; left: 0px;
        height: 100%; width: 100%;
        background-image: url("images/mlb-logo.jpeg");
        background-repeat: no-repeat;
        background-size: 98%;
        position: absolute;
        background-position: center;
      }
      div#alumni div#col3 div#stats-col3 {
        height: 100%; width: 100%;
        position: absolute;
      }
    div#alumni div#container {
	    width: 80%;
	    overflow: hidden;
	    margin: 50px auto;
	    background: white;
    }
    div#alumni div#container div.photobanner {
	    height: 180px;
	    width: 3000px;
    }
    div#alumni div.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

div#alumni div.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
    /*keyframe animations*/
    div#alumni div#container img.first {
	-webkit-animation: bannermove 30s linear infinite;
	-moz-animation: bannermove 30s linear infinite;
	-ms-animation: bannermove 30s linear infinite;
	-o-animation: bannermove 30s linear infinite;
	animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

div#pnt-events {
  padding: 2% 5% 5% 5%;
  height: 100%;
  background-color: #F5F5F5;
  }
  div#pnt-events h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
  }
  div#pnt-events h2 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
  div#pnt-events div#event-logos {
    padding: 5px 30px 5px 30px;
    }
    div#pnt-events div#event-logos img#img1 {
      height: 75px;
      padding: 5px;
    }
    div#pnt-events div#event-logos img#img2 {
      height: 50px;
      padding: 5px 5px 15px 5px;
    }
    div#pnt-events div#event-logos img#img3 {
      height: 75px;
      padding: 5px;
    }

div#pnt-subscribe {
  padding: 5% 2% 5% 2%;
  height: 100%;
  background-color: white;
  text-align: center;
  }
  div#pnt-subscribe h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
  }
  div#pnt-subscribe h1#alt{
    font-size: 24px;
    color: #B7112E;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
  }
  div#pnt-subscribe h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0 30px 5px 30px;
    line-height: 150%;
  }
  div#pnt-subscribe div#left-col {
    float: left;
    width: 55%;
  }
  div#pnt-subscribe div#right-col {
    float: right;
  }
